.colorbg-dark{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(180deg, #f0a050, #101820); */
  background-image: url(../../assets/bg.jpg);

} 

.titulo {
  background: #ffab00;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box {
  border-radius: 4px;
  padding: 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.subcontainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 1rem;
}